[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

max_allowed_packet=300M

# slow_query 提出時には消すこと
slow_query_log=1
long_query_time = 0.1
slow_query_log_file = /tmp/mysql-slow.sql
#log_queries_not_using_indexes=1 # インデックスを使っていないクエリを保存

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

