[Unit]
Description = isucon qualifier webapp in go
After=syslog.target

[Service]
Environment="ISUCON5_DB_USER=isucon"
Environment="ISUCON5_DB_PASSWORD=isucon"
# ファイルで指定する場合
#EnvironmentFile=/home/isucon/isucon-template/app/webapp/env.sh

WorkingDirectory = /home/isucon/isucon-template/app/webapp/go
ExecStart = /home/isucon/isucon-template/app/webapp/go/server

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy=multi-user.target
